# Configuration file

general {
    # How many ticks are days? (Change if you have a mod that changes this)
    I:dayLength=24000

    # Number of entities to be added to patrols per regional difficulty level (Rounded Up). [range: 0.0 ~ 255.0, default: 1.0]
    S:extraSpawnsPerDifficulty=1.0

    # How many days of a world being open until patrols can spawn?
    I:firstDay=5

    # Minimum number of entities to spawn in a patrol. [range: 0 ~ 255, default: 1]
    I:minSpawns=1

    # Chance for a patrol to spawn (Set to 0 to disable).
    I:patrolChance=5

    # Max delay the game can wait to attempt spawn a patrol.
    I:patrolMaxDelay=12000

    # Minimum time before the game attempts to spawn patrols per session.
    I:patrolMinTime=12000

    # Biomes patrols can't spawn in (Can specify either biomes names or Biome Dictionaries e.g. minecraft:plains, FOREST)?
    S:spawnBiomesBlacklist <
        MUSHROOM
     >

    # Invert spawnBiomesBlacklist so that patrols can only spawn in the specified biome. [default: false]
    B:spawnBiomesWhitelist=false

    # Dimensions Patrols can spawn in.
    I:spawnDimensions <
        0
     >
}


spawns {
    # Which entities should spawn in patrols? (format is registry name-spawn weight, weight is a positive integer)
    S:spawnEntities <
        raids:pillager-1
     >
}


