# Configuration file

general {

    "sigil of consuming" {
        # Materials that will be destroyed when harvested while this sigil is active.
        S:"Voided Materials" <
            minecraft:dirt:1
            minecraft:dirt:2
            minecraft:magma
            minecraft:mossy_cobblestone
            minecraft:mycelium
            minecraft:snow
            minecraft:snowball
            minecraft:soul_sand
            cobblestone
            dirt
            endstone
            grass
            gravel
            netherrack
            sand
            sandstone
            stone
            stoneAndesite
            stoneDiorite
            stoneGranite
         >
    }

    "infusion enchantments" {

        "educational infusion enchant" {
            # Min: 0
            # Max: 100000
            I:maxXpPerLevel=10

            # Min: 0.01
            # Max: 100.0
            D:xpGainPerLevel=0.25
        }

    }

    "tablet of necromancy" {
        # Enables the Tablet of Necromancy, used to summon creatures using reagents.
        B:"Enable Tablet of Necromancy"=true

        # Specific scale overrides for entity displays in the Tablet of Necromancy JEI display.
        #   Format: modid:entityid=scale
        #   Example: minecraft:creeper=0.5
        S:"Entity Scale Overrides" <
         >
    }

    "thaumic restorer" {
        # Enables item repair using aspects based on the item type.
        #   Armor = Praemunio (Protect)
        #   Weapons = Aversio (Aversion)
        #   Tools = Instrumentum (Tool)
        #   Other = Fabrico (Craft)
        # If set to false, all tools will be repaired with Fabrico (Craft).
        B:"Dynamic Aspects"=true

        # Enables the Thaumic Restorer, a block that uses essentia to repair items.
        B:"Enable Thaumic Restorer"=true
    }

    "transvector dislocator" {
        S:"Block Blacklist" <
            minecraft:mob_spawner
         >

        # Allows the dislocator to transfer blocks.
        B:"Transfer Blocks"=true

        # Allows the dislocator to transfer entities.
        B:"Transfer Entities"=true

        # Allows the dislocator to transfer bosses. This setting requires 'Transfer Entities' enabled.
        B:"Transfer Entities - Bosses"=false

        # Allows the dislocator to transfer players. This setting requires 'Transfer Entities' enabled.
        B:"Transfer Entities - Players"=false
    }

    "transvector interface" {
        # Enables the Transvector Interface, used to duplicate block face capabilities over a short distance.
        B:"Enable Transvector Interface"=true

        # The maximum distance the Transvector Interface can be placed from the linked block.
        # Min: 1
        # Max: 32
        I:"Maximum Range"=8
    }

}


