# Configuration file

general {

    armor {
        # The jump height boost granted when wearing the Ichorweave Boots of the Biosphere.
        D:"Awakened Boots: Jump Boost"=0.3

        # The forward momentum speed bonus granted when jumping while wearing the Ichorweave Boots of the Biosphere.
        D:"Awakened Boots: Jump Factor"=0.03

        # The movement speed bonus granted when wearing the Ichorweave Boots of the Biosphere.
        D:"Awakened Boots: Movement Bonus"=0.08

        # The swim speed bonus granted when wearing the Ichorweave Boots of the Biosphere.
        D:"Awakened Boots: Swim Bonus"=0.04
    }

    enchantments {
        # Enables the eternal infusion enchant, which makes items unbreakable.
        B:"Infusion Enchant: Eternal"=true
    }

    integrations {
        # Enables Construct's Armory Ichorium armor parts. Requires Tinkers' Construct integration to be enabled.
        B:"Construct's Armory"=true

        # Enables Tinkers' Construct Ichorium tool parts and Divine Mandate modifier.
        B:"Tinkers' Construct"=true

        # The amount of parts needed for God Complex to make the item unbreakable.
        I:"Tinkers' Construct: God Complex Parts"=2

        # Makes the Ichorium material overpowered to be in the same tier as endgame PlusTiC materials.
        B:"Tinkers' Construct: Overpowered Ichorium"=false

        # Makes the Ichorium tool material use Geocentric Disintegration instead of God Complex. This trait makes tools mine blocks instantly regardless of hardness.
        B:"Tinkers' Construct: Overpowered Ichorium Trait"=false
    }

}


