# Configuration file

general {

    any {
        B:debugMode=false
    }

    server {
        B:doSpawnLightningBolts=true

        compat {
            I:ancientWorldDimId=-932
            B:doInterceptBiomeGen=true
        }

        difficulty {
            B:canDeadInAncientWorld=false

            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:damageMultiplier=125.0

            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:minimalFireDamage=0.5

            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:minimalMobDamage=2.5
        }

    }

    client {
        B:doDisableSunInTaintBiome=true
        B:doInfinityRainInTaintBiome=true
        B:doInterceptGammaSetting=true

        # Valid values:
        # HIGH
        # MEDIUM
        # LOW
        # POTATO
        S:graphicQuality=HIGH
    }

}


