# Configuration file

general {
    # Enable debug logging for aura booster power attempts.
    B:"Enable Aura Booster Debug Logs"=false

    # Enable custom model replacement for Thaumcraft Pillars.
    B:"Enable Custom Pillar Model Replacement"=false

    # Should enable eldritch stone crafting recipe?
    B:"Enable Eldritch Stone Recipe"=true

    # Enable extra debug logging for flux anomaly seeds and resource placement.
    B:"Enable Flux Anomaly Debug Logs"=false

    # Restore Thaumcraft's original crucible recipe for the Void Metal Ingot instead of replacing it with infusion crafting.
    B:"Restore Vanilla Void Metal Ingot Recipe"=false
}


