# Configuration file

general {

    ##########################################################################################################
    # blaze fireball
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Blaze Fireball warp event. This event causes players to fires
    # between 1 and 3 fireballs, increasing based on player warp.
    ##########################################################################################################

    "blaze fireball" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=40

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # cave ambient
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Cave Ambient warp event. This event plays the cave ambient
    # sound effect.
    ##########################################################################################################

    "cave ambient" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=20

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # countdown
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Countdown warp event. This event counts down from 10 before
    # playing an explosion sound with particle effects at the player position.
    ##########################################################################################################

    countdown {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=32

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # deafness
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Deafness warp event. This event disables all sounds for
    # the player for up to 3 minutes, increasing based on player warp.
    ##########################################################################################################

    deafness {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=40

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # eldritch crab swarm
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Eldritch Crab Swarm warp event. This event spawns several
    # Eldritch Crabs in the area surrounding the player.
    ##########################################################################################################

    "eldritch crab swarm" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=80

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # ender pearl
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Ender Pearl warp event. This event causes the player to
    # vomit an ender pearl. Pearl velocity increases based on player warp.
    ##########################################################################################################

    "ender pearl" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=50

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # enderman stare
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Enderman Stare warp event. This event plays the Enderman
    # angry sound effect.
    ##########################################################################################################

    "enderman stare" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=18

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # enderman swarm
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Enderman Swarm warp event. This event spawns 1 or more
    # hostile Endermen in the area surrounding the player.
    ##########################################################################################################

    "enderman swarm" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=80

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # fake lightning
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Fake Lightning warp event. This event spawns a non-damaging
    # lightning bolt at the player's position.
    ##########################################################################################################

    "fake lightning" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=80

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # firebat swarm
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Firebat Swarm warp event. This event spawns several
    # Firebats in the area surrounding the player.
    ##########################################################################################################

    "firebat swarm" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=60

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # haunted
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Haunted warp event. This event spawns several
    # Eldritch Illusions in the area surrounding the player.
    ##########################################################################################################

    haunted {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=20

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # impending doom - skeletons
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Impending Doom - Skeleton warp event. This event spawns three
    # Skeletons around the player after 3 minutes.
    ##########################################################################################################

    "impending doom - skeletons" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=70

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # impending doom - wither skeletons
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Impending Doom - Wither Skeleton warp event. This event spawns
    # three Wither Skeletons in random positions around the player after 3 minutes.
    ##########################################################################################################

    "impending doom - wither skeletons" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=80

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # impending doom - the wither
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Impending Doom - Wither warp event. This event spawns a The
    # Wither boss near the player after 3 minutes.
    ##########################################################################################################

    "impending doom - the wither" {
        # Enables this warp event.
        B:"Enable Warp Event"=false

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=100

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # impending doom - zombies
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Impending Doom - Zombie warp event. This event spawns five
    # Zombies around the player after 3 minutes.
    ##########################################################################################################

    "impending doom - zombies" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=60

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # insomnia
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Insomnia warp event. This event prevents players from
    # sleeping for 12 minutes.
    ##########################################################################################################

    insomnia {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=20

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=20
    }

    ##########################################################################################################
    # jump boost
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Jump Boost warp event. This event grants players up to
    # 5 minutes of jump boost, increasing based on player warp.
    ##########################################################################################################

    "jump boost" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=48

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # nausea
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Nausea warp event. This event inflicts the player with
    # up to 60 seconds of Nausea, increasing based on player warp.
    ##########################################################################################################

    nausea {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=68

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # poison
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Poison warp event. This event inflicts the player with
    # up to 2 minutes of Poison I, increasing based on player warp.
    ##########################################################################################################

    poison {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=74

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # teleport
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Teleport warp event. This event randomly teleports the
    # player to a nearby location.
    ##########################################################################################################

    teleport {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=40

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

    ##########################################################################################################
    # wither sound
    #--------------------------------------------------------------------------------------------------------#
    # Configuration settings for the Wither Sound warp event. This event plays The Wither
    # ambient sound effect.
    ##########################################################################################################

    "wither sound" {
        # Enables this warp event.
        B:"Enable Warp Event"=true

        # The minimum amount of warp required for this event to occur.
        I:"Minimum Warp"=40

        # The weight for this event to occur. Lower weight will decrease the event chance.
        I:"Warp Event Weight"=10
    }

}


